@import "tailwindcss";
@config "./tailwind.config.js";

@theme {
    --font-space: "Space Grotesk", sans-serif;
    --color-chorke-green: #D6FF00;
    --color-chorke-pink: #FF90E8;
    --color-chorke-blue: #00F0FF;
    --color-chorke-yellow: #FFEA2B;
}

/* Custom Utilities */
@layer utilities {
    .brutal-btn-pill {
        @apply rounded-full px-6 py-3 font-bold transition-all border-2 border-transparent;
    }

    .brutal-btn-pill:hover {
        @apply transform scale-105;
    }
}

body {
    font-family: var(--font-space);
}